.survey-ribbon {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 250px;
    left: -56px;
    padding: 0 45px 0 45px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 0 0 5px 5px;
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(center top, #73b200, #73b200);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.survey-ribbon a {
    text-decoration: none;
    color: #fff;
}
